<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css">
    </head>
    <body>
        <div class="header">
            <h1><strong>Life</strong>invader</h1>
            <p>INFLATE YOURSELF ONLINE</p>
        </div>
        <div class="container">
            <div class="leftside">
                <div class="card">
                    <div class="photo">
                        <img src="https://static.wikia.nocookie.net/gtawiki/images/8/8d/LifeInvader_GTAV_Franklin_Profile_large.png/revision/latest/scale-to-width-down/150" alt="Profile picture of Franklin Clinton">
                        <p>Back to profile</p>
                    </div>
                    <h1>Franklin Clinton</h1>
                    <div class="subcard">
                        <div class="set-as-background-color stretch-across">
                            <div class="profile-details">
                                <p>Occupation: Entrepeneur</p>
                                <p>Relationship Status: Keeping my options open</p>
                            </div>
                            <div class="tiles">
                                <div class="tile">
                                    <img src="https://static.wikia.nocookie.net/gtawiki/images/8/8d/LifeInvader_GTAV_Franklin_Profile_large.png/revision/latest/scale-to-width-down/150" alt="Profile picture of Franklin Clinton">
                                    <p>Photos</p>
                                </div>
                                <div class="tile">
                                    <img src="https://static.wikia.nocookie.net/gtawiki/images/8/8e/LifeInvader_GTAV_Tonya_Profile_large.png/revision/latest" alt="Tonya Wiggins">
                                    <p>Friends</p>
                                </div>
                                <div class="tile">
                                    <img src="https://static.wikia.nocookie.net/gtawiki/images/0/08/Lifeinvader-GTAV-Feud.png/revision/latest" alt="The Feud Baseball">
                                    <p>Stalking</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div>
                        <div class="left-list">
                            <p class="set-font-main">Family:</p>
                            <div class="list-profile nopadding">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/6/68/LifeInvader_GTAV_Denise_Profile_large.png/revision/latest" alt="Denise Clinton">
                                <p>Denise Clinton</p>
                            </div>
                            <div class="separator">
                                <p>___________________________</p>
                            </div>
                        </div>
                        <div class="left-list">
                            <p class="set-font-main">Friends:</p>
                            <div class="list-profile nopadding">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/b/b6/LifeInvader_GTAV_Lamar_Profile_large.png/revision/latest" alt="Lamar Davis">
                                <p>Lamar Davis</p>
                            </div>
                            <div class="separator">
                                <p>___________________________</p>
                            </div>
                        </div>
                        <div class="left-list">
                            <p class="set-font-main">Stalking:</p>
                            <div class="list-profile nopadding">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/0/0a/Lifeinvader-GTAV-Los_Santos_Customs.png/revision/latest" alt="LS Customs">
                                <p>LS Customs</p>
                            </div>
                            <div class="separator">
                                <p>___________________________</p>
                            </div>
                        </div>
                    </div>
                    <div class="messages">
                        <p>Messages:</p>
                        <div class="message">
                            <div class="descriptor">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/b/b6/LifeInvader_GTAV_Lamar_Profile_large.png/revision/latest" alt="Lamar Davis">
                                <div>
                                    <p class="set-font-main">Lamar Davis</p>
                                    <p class="set-as-gray">Posted an update on XX/XX/XXXX</p>
                                </div>
                            </div>
                            <p>Answer your phone dog! Where r u? We gotta check out Bertolt Beach House for Simeon.</p>
                        </div>
                        <div class="message">
                            <div class="descriptor">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/7/7f/LifeInvader_GTAV_Simeon_Profile_large.png/revision/latest" alt="Simeon Yetarian">
                                <div>
                                    <p class="set-font-main">Simeon Yetarian</p>
                                    <p class="set-as-gray">Posted an update on XX/XX/XXXX</p>
                                </div>
                            </div>
                            <p>I need you and Lamar out in the field. Some of our customers have foolishly overstretched themselves again with their credit schedule. And you wonder why America is in a crisis!</p>
                        </div>
                        <div class="message">
                            <div class="descriptor">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/d/d1/LifeInvader_GTAV_Tanisha_Profile_large.png/revision/latest" alt="Tanisha Jackson">
                                <div>
                                    <p class="set-font-main">Tanisha Jackson</p>
                                    <p class="set-as-gray">Posted an update on XX/XX/XXXX</p>
                                </div>
                            </div>
                            <p>Don't be a stranger I still want to be friends ok??</p>
                        </div>
                        <div class="message">
                            <div class="descriptor">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/d/d1/LifeInvader_GTAV_Tanisha_Profile_large.png/revision/latest" alt="Tanisha Jackson">
                                <div>
                                    <p class="set-font-main">Tanisha Jackson</p>
                                    <p class="set-as-gray">Posted an update on XX/XX/XXXX</p>
                                </div>
                            </div>
                            <p>Test message</p>
                        </div>
                        <div class="message">
                            <div class="descriptor">
                                <img src="https://static.wikia.nocookie.net/gtawiki/images/d/d1/LifeInvader_GTAV_Tanisha_Profile_large.png/revision/latest" alt="Tanisha Jackson">
                                <div>
                                    <p class="set-font-main">Tanisha Jackson</p>
                                    <p class="set-as-gray">Posted an update on XX/XX/XXXX</p>
                                </div>
                            </div>
                            <p>Test message</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="adspace">
                <h1>Sponsored adverts:</h1>
                <div class="ad">
                </div>
                <div class="ad">
                </div>
                <div class="ad">
                </div>
                <div class="ad">
                </div>
            </div>
        </div>
        <footer>
            <p>Author: PigeonSpy<br>
            <p>Disclaimer: This website is a fan-made project and is not affiliated with, endorsed by, or sponsored by Rockstar Games. All trademarks, logos, and intellectual property related to "LifeInvader" and associated content are the property of Rockstar Games and Take-Two Interactive Software, Inc. This website is intended for non-commercial, educational, and entertainment purposes only.</p>
        </footer>
    </body>
</html>